.barrier {
  position: absolute;
  bottom: 5px;
  background-size: auto;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: cover;
  animation: barrier-slide 3.3s linear both;
}

.barrier1 {
  background-image: url('../assets/images/barrier1.png');
  width: 22px;
  height: 46px;
}

.barrier2 {
  background-image: url('../assets/images/barrier2.png');
  width: 45px;
  height: 46px;
}

.barrier3 {
  background-image: url('../assets/images/barrier3.png');
  height: 50px;
  width: 75px;
}

.barrier4 {
  background-image: url('../assets/images/barrier4.png');
  width: 90px;
  height: 46px;
}

.barrier5 {
  background-image: url('../assets/images/barrier5.png');
  width: 84px;
  height: 40px;
}

.barrier6 {
  background-image: url('../assets/images/barrier6.gif');
  width: 43px;
  height: 27px;
  bottom: 32px;
}

.barrier7 {
  background-image: url('../assets/images/barrier7.png');
  width: 73px;
  height: 46px;
}
